
.Title1
{
    margin-left: 20px;
}


.Title2
{
    margin: 25px;
}

.Title3
{
    margin: 50px 25px;
}


.Title4
{
    width: 200px;
    margin: 0 auto;
}


.Title5
{
    padding-top: 30px;
}


.Title6
{
    padding: 50px;
}


.part
{
    padding:  25px 50px;
}
